// animation
// 왼쪽에서 나옴
@keyframes moveInLeft {
    0% {
        opacity: .1; // 살짝 보이게 0.1
        transform: translateX(-8rem); // X값만 주면됨, 처음위치에서 왼쪽으로 80px
    }
    80% {
        // 끝에 살짝 오른쪽으로 넘어갔다가 다시 왼쪽으로가는 효과를 주기위해 기존위치에서 10px 오른쪽으로 이동 
        transform: translateX(1rem); 
    }
    100% {
        opacity: 1; // 다보임
        transform: translate(0); // 기존 위치로
    }
}
// 오른쪽으로 나옴
@keyframes moveInRight {
    0% {
        opacity: .1;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}