// 구글폰트(select this font하고 customize모두 선택한 뒤, @import 복사) - 나눔고딕, Lato
// sass는 모든 css를 다 포함하고 있기 때문에 외부에서 가져오는것도 바로 @import해서 쓸 수 있음
@import url('https://fonts.googleapis.com/css?family=Lato:100,300|Nanum+Gothic:400,700,800&subset=korean');

// Icon Font
// https://material.io/icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

//모든요소(*)에 margin, padding,box-sizing을 초기화시킴
* {
    margin: 0;
    padding: 0;
    // border-box는 넓이, 높이를 설정할 때 margin,padding등 모두 포함시킴 -> 원하는 크기로 만들 수 있음
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // (기본브라우저의 font-size)16px의 62.5% = 10px = 1rem
}

body {
    // 안쪽으로 padding을 30px줌
    padding: 3rem;
    // 가져온 글꼴을 사용
    font-family: 'Nanum Gothic', sans-serif;
}