
// px
// em, rem
// vw(viewport width), vh(viewport height)

html {
    // 기본 브라우저 폰트 사이즈는 16px
    //font-size: 10px; // 1rem
    font-size: 20px; // 10px = 1rem
}

#box1 {
    width: 80vw;
    height: 50vh;
    font-size: 3rem;
    background-color: #aaa;
}

#box2 {
    font-size: 2rem;
    width: 25rem;
    background-color: #777;
}