body {
  background-color: black;
  margin: 0;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 100%;
  height: 1px;
  /* 이전에는 left, top을 갱신했지만 이제는 translate을 이용해서 left와 top을 업데이트 하지 않기 때문에 지정값을 없애줌 */
  /* top: 50%; */
}

.vertical {
  height: 100%;
  width: 1px;
  /* left: 50%; */
}

.target {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%,-50%);
}

.tag {
  color: white;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  font-size: 38px;
  transform: translate(20px,20px);
  /*  tag가 너무 붙지 않게 */
  margin: 20px;
}