<!-- 팔로워 수 / 팔로잉 수 -->
<div class="jumbotron">
    <!-- 팔로우 버튼 / 언팔로우 버튼 -->
    <!--나를 follow하면 안되니까! 나한테는 이 버튼들이 안보이게 함-->
    {% if request.user != person %}
      <form action="{% url 'accounts:follow' person.pk %}" method="POST" class='d-inline'>
        {% csrf_token %}
        <!--팔로우가 돼있다면 unfollow버튼을 보여주고 아니면 Follow를 보여줌-->
        {% if request.user in perosn.followers.all %}
          {% comment %} <button class="btn btn-secondary">Unfollow</button> {% endcomment %}
          <button class='btn btn-link' style='color:secondary;'>
            <i class="fas fa-user-plus"></i>
          </button>
        {% else %}
          {% comment %} <button class="btn btn-primary">Follow</button> {% endcomment %}
          <button class='btn btn-link' style='color:primary;'>
            <i class="fas fa-user-plus"></i>
          </button>
        {% endif %}
      </form>
    <p class="lead d-inline">
      팔로워 수 : {{ person.followers.all|length }} / 팔로잉 수 : {{ person.followings.all|length }} 
    </p>
    {% endif %}
</div>