{% extends 'base.html' %}
{% block content %}
<h1 class='text-center'>{{person.username}}'s Profile</h1>
<hr>
{% include 'accounts/_follow.html' %}
<hr>
<h5>{{person.username}}'s REVIEW</h5>
{% for review in person.review_set.all %}
  <div><a href="{% url 'community:review_detail' review.pk %}">{{review.title}}</a></div>
{% endfor %}
<hr>
<h5>{{person.username}}'s Comments</h5>
{% for comment in person.comment_set.all %}
  <div>{{comment.content}}</div>
{% endfor %}
<hr>
<h5>{{person.username}}'s LIKE</h5>
{% for review in person.like_reviews.all %}
  <div><a href="{% url 'community:review_detail' review.pk %}">{{review.title}}</a></div>
{% endfor %}
{% endblock content %}