// 변수
$color-primary: #285a91; // 그라데이션 첫 색
$color-secondary: #1f9cfd; // 그라데이션 두번째 색
$color-white: #fff;

$color-blue-1: #a8d8ff;
$color-blue-2: #c1e1ff;
$color-blue-3: #d6eaff;
$color-blue-dark: #3f4a56;

$color-grey-light: #b9b9b9;
$color-grey-dark: #474747;