<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <select v-model="filter">
      <option value="all">All</option>
      <option value="ing">ing</option>
      <option value="completed">completed</option>
    </select>
    <!-- v-model input값에 변화가 있을때 바인딩과 동시에 할당도 해줌! -->
    <!-- <input type="text" :value='newTodo' @keyup="changeNewTodo" @keyup.enter='addTodo'> -->
    <input type="text" v-model='newTodo' @keyup.enter='addTodo'>
    <button @click='addTodo'>+</button>
    <ul>
      <!-- v-for를 쓰면 옆에 적은 태그 자체가 반복됨! 그래서 li를 계속 반복시킬거니까 li에 적어줌 -->
      <!-- key:value, key값(class를) true인 값들만 class completed를 넣어줌 -->
      <li 
      v-for='todo in filteredTodos' 
      :class='{completed:todo.completed}'
      
      >
        <!-- v-model은 checkbox를 누를때 completed의 값이 true, false바뀜 -> 이것도 todo에 completed값에 바인딩한뒤, 그 값을 바꿔주는 함수가 같이 포함된것-->
        <input type="checkbox" v-model="todo.completed">{{ todo.content }}
      </li>
    </ul>
    <button @click="removeTodo">완료된 할 일 지우기</button>
  </div>
  
  <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el:'#app',
      data :{
        newTodo:'',
        todos:[{content:'hello',completed:true}],
        filter:'all',
      },
      methods:{
        // changeNewTodo: function(event){
        //   this.newTodo = event.target.value
        // },
        //사용자가 입력한 값을 userInput에다가 할당
        addTodo: function () {
          // if (this.newTodo.length !== 0) {
          this.todos.push({
          content:this.newTodo,
          completed:false,
            })
            // console.log(this.newTodo)
            this.newTodo = ''
          // }
        },
        removeTodo: function() {

          // const newTodo = []
          // this.todos.forEach(todo => {
          //   if (!todo.completed) {
          //     newTodo.push(todo)
          //   }
          // })
          // this.todos = newTodo
        
          this.todos = this.todos.filter((todo)=>{
            // false
            return !todo.completed
          })
        }
    
        // doneTodo:function() {
          
        // },
      },
      // v-if="filter==='all || (filter ==='ing' && !todo.completed) || (filter==='completed') ||" 이걸 적어줘도 되지만 아래처럼쓴다
      
      // 메소드는 메서드가 호출됐을때마다 실행됨, 컴퓨ㅠ티드는 안에서 사용된 속성이 변경되지 않는 이상 원래 값을 계속 유지함(캐싱이일어남)
      // 좀더 효율적
      computed:{
        filteredTodos: function(){
          // filter값에 따라 필터링된 todos를 만들겁니다
          const filteredArray =  this.todos.filter(todo=>{
            if (this.filter === 'all'){
              // 모든 todo가 filter를 통과해야됨
              return true
            } else if (this.filter === 'ing'){
              // 진행중, 즉 todo.completed가 false인 애들만 필터 통과
              return !todo.completed
            }else {
              // 완료된 것들만 출력, 즉 todo.completed가 ture인 애들만 필터 통과
              return todo.completed
            }
          })
          return filteredArray
        },
      },
    })
  </script>
</body>
</html>