//헤더
header {

    width: 100%;
    // viewport의 90%
    height: 90vh;
    // 배경이미지 url(원하는 이미지 위치)
    // css로 그라데이션 설정(linear-gradient), to right(왼쪽에서 오른쪽으록 가라), 왼쪽원하는색 0%, 오른쪽 원하는색 100%
    background-image: linear-gradient(
        to right,
        $color-primary 0%,
        $color-secondary 100%
    ), url(../images/header-image.jpg);
    // background-blend-mode의 multiply는 이미지와 그라데이션을 합성시킴
    background-blend-mode: multiply;
    // 배경이미지 사이즈 : contain은 전체 이미지 다보이게, cover는 요소안에 꽉차게 이미지를 키움
    background-size: cover;
    // absolute의 부모(header)가 됨
    position: relative;

    #logo-text {
        // 부모(#header)를 기준으로 위치함
        position: absolute;
        left: 7rem; //70px
        top: 4rem; // 40px
        font-size: 5.6rem; // 56px
        text-transform: uppercase; // 대문자로 만듦
        font-family: 'Lato', sans-serif; // 글꼴 설정
        font-weight: 100;
        color: $color-white;
        letter-spacing: -0.1rem;

        // animation
        animation-name: moveInLeft; // 이름
        animation-duration: 1s; // 지속시간 
        animation-iteration-count: 5; // 5번반복
        animation-delay: 2s; // 2초 후 시작
        animation-fill-mode: backwards; // delay시간 후 animation 0%에서 바로 시작
    }

    #header-text {
        // header기준으로 위치를 잡기위해 absolute
        position: absolute;
        left: 7rem; // 70px
        bottom: 23%; //밑에서부터 높이의 23%의 위치
        color: $color-white; // 글자색 흰색
        letter-spacing: -.1rem; // 글자간격 -0.1rem(==-.1rem)
        font-weight: 700; // 굵기

        // #header-main
        &-main {
            font-size: 7.2rem; // 72px
            line-height: 7.2rem; // 줄간격 72px

            animation-name: moveInRight;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: backwards;
        }
        // #header-sub
        &-sub {
            margin-top: 3rem; //30px
            font-size: 2.4rem;

            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-delay: 1.5s;
            animation-fill-mode: backwards;
        }
    }
}