// main
main {
    // section-about패널과 section-etc 패널을 옆으로 보이게 하기 위해 float:left해서 clearfix처리
    @include clearfix(); 

    //
    #section-about {
        background-color: #ededed; // 일시적으로 잠깐 쓰이는 색은 그냥 적어도 되고, 변수로 만들어도 됨
        padding: 7rem 0 6.5rem 6rem;
        width: 66.66666%; // section-etc와 함께 100% 중 분배해서 가짐(그래야 width가 더 커서 아래로 내려가거나 하지 않고 계속 옆으로 보임)
        min-height: 42rem; // min-height는 최소 높이가 42rem이고, 더 커질 수 있다
        float: left;

        @include clearfix(); // float:left 자식 두개(words,photo)의 영역을 확보하기 위해
        // 화면 900~1200px
        @include mq('small-screen-1') {
            // @content;안의 자리에 "{}" 안의 코드가 들어옴
            width: 100%; // 하나하나가 100%를 다 차지해서 아래로 쌓이게 됨
        }
        @include mq('small-screen-2') {
            width: 100%;
            height: 54rem; // section 높이를 보기좋게 높임
            padding: 7rem 6rem 6.5rem 6rem;
        }
        @include mq('small-screen-3') {
            width: 100%;
            height: 60rem;
            padding: 7rem 6rem 6.5rem 6rem;
        }

        &-words {
            width: 65%; // photo의 width와 합하면 100%가 됨
            padding: 2rem 2rem 0 0;
            float: left;

            @include mq('small-screen-2') {
                width: 100%; // words가 100%라 photo는 아래로 내려감
            }
            @include mq('small-screen-3') {
                width: 100%;
            }

            // &-words 아래 p태그
            p {
                padding: 1.5rem 0;
                font-size: 1.4rem;
                font-weight: 700;
                text-align: justify;
            }
        }

        &-photo {
            position: relative; // .photo가 부모 위치를 기준으로 위치하기위해 relative로 설정
            width: 35%;
            float: left;

            @include mq('small-screen-2') {
                width: 100%; // photo도 100%
            }
            @include mq('small-screen-3') {
                width: 100%;
            }

            .photo { 
                position: absolute; // 그림이 포개짐
                width: 18rem;
                height: 12rem;
                transition: all .5s; // 부드럽게 hover가 바뀌게 하기 위해

                @include mq('small-screen-2') {
                    // photo 위치를 바꿈(!important로 우선순위 제일 높게 만듦, 아래의 다른 값들에 의해 달라지는 것 방지하기 위해)
                    top: 3rem !important;
                    left: 50% !important;
                }
                @include mq('small-screen-3') {
                    top: 3rem !important;
                    left: 50% !important;
                }
                // 마우스가 올라갔을 때
                &:hover {
                    transform: scale(1.1); // scale 110%하면 그림의 크기가 커짐
                    padding: 1rem;
                    border: 3px solid $color-primary; // 테두리 설정
                    z-index: 10; // 위로 올라오게 함
                }
                // 1번째 그림(pseudo element이용)
                &:nth-child(1) {
                    left: 1rem;
                    top: 3rem;
                    // 2구간에서 첫사진 위치 이동
                    @include mq('small-screen-2') {
                        transform: translateX(-120%);
                    }
                    @include mq('small-screen-3') {
                        transform: translateX(-120%);
                    }
                }
                // 2번째 그림
                &:nth-child(2) {
                    left: 6rem;
                    top: 10rem;
                }

                img {
                    // .photo의 width: 18rem; height: 12rem;에 맞춰서 가득참(100%)
                    width: 100%;
                    height: 100%;
                    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5); // 그림자
                }
            }
        }
    }

    //
    #section-etc {
        width: 33.33334%;
        float: left;

        @include mq('small-screen-1') {
            width: 100%;
        }
        @include mq('small-screen-2') {
            width: 100%;
        }
        @include mq('small-screen-3') {
            width: 100%;
        }

        // [속성값^="공통으로 시작하는 이름"]
        // [src^="images1/"] {} 이렇게 하면 src속성이 "images1/"로 시작하는 특정 속성에 적용됨
        // #section-etc 아래 자식들 중 id가 "etc-"로 시작("^(캐럿)")하는 것을 모두 가리킴
        [id^="etc-"] {
            height: 14rem;
        }

        .etc {
            // small-screen-3을 따로 설정 안해 놓으면 자동으로 100%로 아래로 쌓이게 됨
            @include mq('small-screen-1') {
                width: 33.33333%; // section-etc하나하나는(3개) 1/3씩 차지하게 함
                float: left; // 옆으로 띄워짐
            }
            @include mq('small-screen-2') {
                width: 33.33333%;
                height: 22rem;
                float: left;
            }
            // 1번째 자식
            &:nth-child(1) {
                background-color: $color-blue-1;
            }
            // 2번째 자식
            &:nth-child(2) {
                background-color: $color-blue-2;
            }
            // 3번째 자식
            &:nth-child(3) {
                background-color: $color-blue-3;
            }

            .etc-icon {
                padding-top: 3.5rem; // 위에 padding을 줌(상하 가운데 위치시키기 위해)
                width: 30%; // 넓이의 30%
                text-align: center; // 아이콘 가운데 정렬(좌우)
                float: left; // 아이콘 왼쪽 글 오른쪽 띄움
                // 아이콘 크기 키움
                i {
                    font-size: 6rem;
                }
            }

            .etc-text {
                padding-top: 1rem;
                width: 70%; // 넓이의 70%
                float: left;

                p { // etc-text아래의 p태그
                    margin: 0.5rem 0;
                    padding-right: 3.5rem; // 오른쪽 공간 확보
                    text-align: justify;
                    font-size: 1.4rem;
                }
            }
        }
    }
}