
.btn-text {
    font-size: 1.6rem; // 16px
    font-weight: 700;
    text-decoration: none; // 밑줄 없앰
    color: $color-primary;
    display: inline-block; // 인라인요소면서 block이 될수 있게 함
    padding-bottom: 3px; // 아래쪽만 3px
    border-bottom: 1px solid $color-primary;

    transition: all .5s; // hover 지정 요소 전부 5초동안

    &:hover {
        color: $color-white;
        background-color: $color-secondary;
        border-bottom: none; // 올라갔을 때 버튼 밑줄 없앰
    }
}