//partial

// mixin
// 영어로시작 중간에 숫자,-,_가능
// 괄호안에 변수만들기($로시작:기본값), 블록안에서만 사용
// @mixin fontSizeBgColor($fontSize:20px,$bgColor:#fff) {
//   font-size: $fontSize;
//   background-color: $bgColor;
// }

// @mixin linkStyle($textcolor,$textDeco:none) {
//   color: $textcolor;
//   text-decoration: $textDeco;
// }
// 파일불러오기(Partial) _제외한 파일이름만 적으면 됨
@import "mixins";
@import "partial/styles";
// extend (%뒤에 적음)
// %boxShape {
//   border-radius: 20px;
//   border: 3px solid #f00;
//   box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
// }

//Nesting 보다 Tree라고 이해하는게 쉽다, 포함관계!
// 포함관계대로 작성할 수 있게 하는게 Nesting

html {
  font-size: 18px; 
}

body {
  margin: 20px;
  background-color: #fff4ef;
}

div {
  color: #333;
  padding: 20px;
}

a {
  display: inline-block;
  margin: 10px 0;
}

#box1 {
  // font-size: 40px;
  // background-color: #ffcccc;
  // mixin사용
  @include fontSizeBgColor(40px,#ffcccc);
  @media screen and (max-width:500px) {
    font-size:14px
  }
  @media screen and (min-width:501px) and (max-width:900px) {
    font-size:24px
  }
  &:hover {
    background-color: #ccc;
    @media screen and (max-width:500px) {
      background-color:#999;
    }
  }
  // 중복되는코드 넣어주기
  &,&-title {
    // border-radius: 20px;
    // // 모서리,테두리
    // border: 3px solid #f00;
    // // 그림자
    // box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
    @extend %boxShape;
  }
  // #box1-title
  &-title {
    font-style: italic;
    text-decoration: underline;
  }
  & > a {
    // color: #a22;
    // text-decoration: none;
    @include linkStyle(#a22);
    &:hover {
        // color: #000;
        // text-decoration: underline;
        @include linkStyle(#000,underline);

      }
  }
  // #box1 #box2
//   #box2 {
//   font-size: 20px;
//   background-color: #e9e9e9;
  
//   border-radius: 20px;
//   border: 3px solid #f00;
//   box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);

//   & > a {
//     color: #ee6633;
//     text-decoration: none;
//     &:hover {
//       color: #a22;
//       text-decoration: underline;
//     }
//   }
// }
}

// #box1 > a {
//   color: #a22;
//   text-decoration: none;
// }

// #box1 > a:hover {
//   color: #000;
//   text-decoration: underline;
// }

// #box1:hover {
//   background-color: #ccc;
// }
// 한눈에 보기 쉽게 따로 빼도 되고, #box1안에 넣어도 됨
#box1 #box2 {
  @include fontSizeBgColor(20px,#e9e9e9);
  // font-size: 20px;
  // background-color: #e9e9e9;
  @extend %boxShape;
  // border-radius: 20px;
  // border: 3px solid #f00;
  // box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);

  & > a {
    // color: #ee6633;
    // text-decoration: none;
    @include linkStyle(#ee6633);
    &:hover {
      // color: #a22;
      // text-decoration: underline;
      @include linkStyle( #a22,underline);
    }
  }
}

// 1.
.box1 .box2 .box3 {
}
// 2.
.box1 {
  .box2 {
    .box3 {

    }
  }
}
// 3.
.box1 {
  .box2 .box3 {

  }
}

// 미디어쿼리
// 화면이 500px보다 작아지면 #box1의 font-size줄임
@media screen and (max-width:500px) {
  #box1 {
    font-size:14px
  }
}
// 501~900px까지 폰트 지정
@media screen and (min-width:501px) and (max-width:900px) {
  #box1 {
    font-size:24px
  }
}