//Nesting 보다 Tree라고 이해하는게 쉽다, 포함관계!
// 포함관계대로 작성할 수 있게 하는게 Nesting

html {
  font-size: 18px; 
}

body {
  margin: 20px;
  background-color: #fff4ef;
}

div {
  color: #333;
  padding: 20px;
}

a {
  display: inline-block;
  margin: 10px 0;
}

#box1 {
  font-size: 40px;
  background-color: #ffcccc;
  // 모서리둥글게함
  border-radius: 20px;
  // 모서리,테두리
  border: 3px solid #f00;
  // 그림자
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  &:hover {
    background-color: #ccc;
  }
  & > a {
  color: #a22;
  text-decoration: none;
  &:hover {
      color: #000;
      text-decoration: underline;
    }
  };
}

// #box1 > a {
//   color: #a22;
//   text-decoration: none;
// }

// #box1 > a:hover {
//   color: #000;
//   text-decoration: underline;
// }

// #box1:hover {
//   background-color: #ccc;
// }

#box1 #box2 {
  font-size: 20px;
  background-color: #e9e9e9;
  
  border-radius: 20px;
  border: 3px solid #f00;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
}

#box1 #box2 > a {
  color: #ee6633;
  text-decoration: none;
}

#box1 #box2 > a:hover {
  color: #a22;
  text-decoration: underline;
}